/*Applies 0 margin/padding to all elements, was added with hamburger/nav-links*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Neucha';
}

/* CSS Style Rules for menu burger */
.hamburger-line{
    width: 60px;
    height: 10px;
    background: #663333 ;
    margin: 10px;
}

.hamburger {
    position: fixed;
    cursor: pointer;
    left: 5%;
    top: 5%;
    transform: translate (-5%, -50%);
    z-index: 2;
    clip-path: circle(50%);
    background: #cc9900;
    width: 100px;
    height: 100px;
    padding: 15px 10px;
}

.nav-links {
    position: fixed;
    height: 0px;
    width: 0px;
    z-index: 1;
    list-style: none;
    justify-content: space-evenly;
    background: #cc9900;
    flex-direction: column;
    border-radius: 0 0 500px 0;
    clip-path: circle(1000px at 0% 0%);
    -webkit-clip-path: circle(1000px at 0% 0%);
    transition: all 1s ease-out;
}

.nav-links.open{
    height: 100vh;
    width: 100%;
    display: flex; 
    pointer-events: all;
}

.nav-links li a {
    font-family: 'Neucha';
    font-weight: bold;
    color: #663333;
    text-decoration: none;
    font-size: 40px;
    margin-left: 200px;
    display: none;
}

.nav-links.open li a {
    display: block;
}
        
.nav-links li {
    opacity: 0;
}

.nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
}

.nav-links li:nth-child(4){
  transition: all 0.5s ease 0.8s;
}

.nav-links.open li {
    opacity: 1;
}
/* END - CSS Style rules for menu burger - END */

/* CSS Style rules for Drop and drag game */

div .app {
    height: 90vh;
}

.drop-box {
    display: flex;
    height: 10rem;
    width: 20rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: black;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: normal;
    border: 5px dotted black;
    background-color: white;
}

.dnd-word {
  font-size: 70px;
}

.container-full {
    height: 100vh;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dnd-image {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.col {
  display: flex;
  justify-content: center;
}

.success-fail-container {
  position: absolute;
  right: 51%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  z-index: -1;
}

.fail-message {
  position: absolute;
  padding: 0;
  margin: 0;
}
.fail-container {
  position: absolute;
  text-align: center;
  width: 500px;
}

.home-btn-container {
  position: relative;
  z-index: 2
}

.image-drag {
  width: 400px;
  height: 400px;
  margin: 0;
  
}

.dnd-background {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CC9900;
  border-radius: 20px;
}

.main-word {
  position: relative;
  padding-top: 3rem;
  z-index: 1;
}

.modal-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END - CSS Style rules for Drop and drag game */

/* CSS Style Rules for Checkmark */
.checkmark {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark-circle {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
  transform-origin: 50% 50%;
  stroke-dasharray: 98;
  stroke-dashoffset: 98;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 80px #7ac142;
  }
}
/* END - CSS Style rules for checkmark - END */

/* CSS Styles for Larrakia map page  */
#mapContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#mapImage {
  padding-top: 3.5rem;
  width: 70%;
  height: 70%;
}

#button-dragAndDropGame {
  position: absolute;
  bottom: 10%;
  left: 37%;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}

#button-memoryGame {
  position: absolute;
  bottom: 30%;
  right: 40%;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}

#button-matchingGame {
  position: absolute;
  top: 27%;
  left: 35%;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}

.button-image {
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
}

.button-image:hover {
  transform: scale(1.2);
}

#map-title {
  font-family: 'Paytone One', sans-serif;
  position: absolute;
  right: 2%;
}

.for-kids {
  font-family: 'Neucha';
}
/* END -  CSS Styles for Larrakia map page  */

/* CSS Styles for Landing map page  */
#landing-title {
  font-family: 'Paytone One', sans-serif;
  position: absolute;
  top: 5%;
  left: 14%;
}

.llaLanding {
  text-align:left;float:left;
  font-size: 60px;
}

.for-kidslanding {
  text-align:right;float:right;
  font-family: 'Neucha';
  font-size: 60px;
}

  #landingMapContainer {
    position: relative;
  }
  
  #landingMapImage {
    width: 100vw;
    height: 100vh;
  }
  
  #button-enterApp{
    position: absolute;
    top: 20%;
    left: 35%;
    cursor: pointer;
    width: 100px;
    height:100px;
    z-index: 2;
  }
  
  #welcomeBox{
    position: absolute;
    bottom: 30%;
    left: 28%;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    z-index: 1;
  }
  
  .box-image {
    width: 100%;
    height: 100%;
  }
/* END -  CSS Styles for Landing map page  */

/* CSS Styles for memory game  */
.memoryGame {
  text-align: center;
  justify-content: center;
  font-family: 'Neucha';
}

.memoryGameTiles {
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;
  grid-template-rows: 170px 170px 170px 170px;
  justify-content: center;
}

.memoryGameTile {
  border: solid black 1px;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #cc9900;
}

.memoryGameTileImage {
  vertical-align: top;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.memory-instructions-container {
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 2;
}

/* END -  CSS Styles for memory game  */

/* CSS Styles for matching game */
.matching-game-title{
  text-align: center;
  font-family: 'Neucha';
}

.matching-game-container{
  position: relative;
  width: 750px;
  height: 680px;
  margin: auto;
}

.matching-game-image-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.matching-game-word-container{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.matching-game-instructions-container{
  position: absolute;
  bottom: 0%;
  left: -70%;
  z-index: 2;
}

.matching-game-item{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: #cc9900;
  justify-content: center;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  display: flex;
}

.matching-game-item h4 {
  color: #663333;
}

.matching-game-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* END -  CSS Styles for matching game */

/*  CSS Styles for about page */
.team-card {
  max-width: 540px;
}

.team-card:hover {
  transition: 2s;
  left: 0;
}

.about-page {
  padding: 3rem 0;
  font-size: 20px;
}

.about-container {
  background-color: white;
}

.rounding {
  border-radius: 30px;
}

.wl-icon {
  width: 200px;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}
/* END -  CSS Styles for about page */

/* CSS Style for home button */
.home-button {
  position: fixed;
  width: 5rem;
  height: 5rem;
  margin: 50px 0 0 100px;
}

.home-button:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* END - CSS Styles for home button */

/* CSS Styles for dictionary page */
.border-size {
  width: 150%;
  height: 200%;
}

.dictionary .card img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.dictionary-img-container {
  background-color: #CC9900;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.btn-secondary {
  color: #663333 !important;
  background-color: #cc9900 !important;
  border-color: #CC9900 !important;
}

.btn-ochre {
    color: #fff;
    background-color: #CC9900;
    border-color: #CC9900;
}
/* CSS Styles for dictionary page */ 


.neuchaFont {
  font-family: 'Neucha';
}

li {
  font-family: "Neucha";
}

.instructions {
  padding-left: 2rem;
}
.text-center1{
  text-align: center;
  font-family:"Neucha";
}

.p-4 {
  font-family:"Neucha";
  
}




.speaker-icon {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
}

#loading-gif {
  margin-top: 50px;
}