div .app {
    height: 90vh;
}

.drop-box {
    display: flex;
    height: 20rem;
    width: 30rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: black;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: normal;
    border: 5px dotted black;
    background-color: white;
}

.container-full {
    height: 100vh;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mapContainer {
  position: relative;
}

#mapImage {
  width: 100%;
  height: auto;
}

#button-dragAndDropGame {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

#button-memoryGame {
  position: absolute;
  bottom: 20%;
  right: 20%;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.button-icon-image {
  width: 100%;
  height: 100%;
}

.memoryGame {
  text-align: center;
  justify-content: center;
}

.memoryGameTiles {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  justify-content: center;
}

.memoryGameTile {
  border: solid black 1px;
  border-radius: 10%;
  padding: 10px;
  align-items: center;
  height: 100px;
  width: 100px;
}

.memoryGameTileImage {
  vertical-align: top;
  width: 100%;
  height: 100%;
}